@tailwind base;
@tailwind components;
@tailwind utilities;

.bb {
  border: 1px solid red;
}

.bbb {
  border: 1px solid blue;
}

.bbg {
  border: 1px solid green;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.xterm .xterm-viewport {
  overflow-y: auto !important;
}
