services:
  app:
    build: .
    ports:
      - "3000:80"
    volumes:
      - .:/app
      - /app/node_modules:/app/node_modules
    env_file:
      - .env
    restart: always
    stdin_open: true
    tty: true
