services:
  api:
    build:
      context: .
    container_name: api-test-cloud
    restart: always
    env_file:
      - .env
    ports:
      - "3001:3001"
    environment:
      DATABASE_URL: mysql://root:${MYSQL_ROOT_PASSWORD}@mysql:3306/${MYSQL_DATABASE}
    volumes:
      - ./uploads:/app/uploads
